<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.4.4" targetFramework="net472" />
  <package id="HamburgerMenu" version="0.1.0" targetFramework="net472" />
  <package id="MaterialDesignColors" version="1.2.6" targetFramework="net472" />
  <package id="MaterialDesignThemes" version="3.1.3" targetFramework="net472" />
  <package id="OpenTK" version="2.0.0" targetFramework="net472" />
  <package id="OpenTK.GLControl" version="1.1.2349.61993" targetFramework="net472" />
  <package id="Syncfusion.Data.WPF" version="18.2.0.58" targetFramework="net472" />
  <package id="Syncfusion.Licensing" version="18.2.0.58" targetFramework="net472" />
  <package id="Syncfusion.SfGrid.WPF" version="18.2.0.58" targetFramework="net472" />
  <package id="Syncfusion.Shared.WPF" version="18.2.0.58" targetFramework="net472" />
  <package id="Syncfusion.Xamarin.Core" version="18.2.0.58" targetFramework="net472" />
  <package id="Syncfusion.Xamarin.Core.WPF" version="18.2.0.58" targetFramework="net472" />
  <package id="Syncfusion.Xamarin.GridCommon" version="18.2.0.58" targetFramework="net472" />
  <package id="Syncfusion.Xamarin.SfComboBox" version="18.2.0.58" targetFramework="net472" />
  <package id="Syncfusion.Xamarin.SfDataGrid" version="18.2.0.58" targetFramework="net472" />
  <package id="Syncfusion.Xamarin.SfDataGrid.WPF" version="18.2.0.58" targetFramework="net472" />
  <package id="Syncfusion.Xamarin.SfNumericTextBox" version="18.2.0.58" targetFramework="net472" />
  <package id="System.Windows.Interactivity.WPF" version="2.0.20525" targetFramework="net472" />
  <package id="Xamarin.Forms" version="3.6.0.344457" targetFramework="net472" />
  <package id="Xamarin.Forms.Platform.WPF" version="3.6.0.344457" targetFramework="net472" />
</packages>